// main.scss

// helpers
@import 'colors';
@import 'fonts';

// components
@import 'map';

body {
  margin: 30px;
  background: $bg;
  font-family: 'Open Sans', sans-serif;
  font-weight: $regular;
  color: $text;
}

p { 
  margin: 0;
}

.site-header {
  margin-bottom: 30px;
  
  .site-title {
    font-size: 32px;
  }
  
  .site-description {
    margin-top: 10px;
    font-size: 14px;
  }
  
}