// import components
@import 'map';

// fonts
$light:    300;
$regular:  400;
$semi:     600;
$bold:     700;

.terra-Base {
  margin: 30px;
  font-family: 'Open Sans', sans-serif;
  font-weight: $regular;
}

.site-header {
  margin-bottom: 30px;
  
  .site-title {
    font-size: 32px;
  }
  
  .site-description {
    margin-top: 15px;
    font-size: 14px;
  }
  
}